body {
  padding-top: 1em;
  font-family: "Gotham", 'Avenir', 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}
h6, small, .fa-comments {
  color: rgba(255, 255, 255, 0.6);
}

h6 strong {
  color: #fff;
}

.bg-warning {
  background: #FFBA00 !important;
}

.bg-danger {
  background: #dd5f5f !important;
}

.bg-primary {
  background: #06A3CB !important;
}

img {
  &.card-img {
    -webkit-filter: blur(25px);
    /* Safari 6.0 - 9.0 */
    filter: blur(25px);
    margin: -10px -1px -10px 0px;
    max-width: 100%;
  }
  &.emoji {
    margin: 0px !important;
    display: inline !important;
  }
}